@model Club

<input type="hidden" asp-for="ClubId" />
<div>
    <label asp-for="ClubName">Club Name</label><br />
    <input asp-for="ClubName" />
</div>

<div>
    <label asp-for="StadiumName">Stadium Name</label><br />
    <input asp-for="StadiumName" />
</div>

<div>
    <label asp-for="YearFounded">Year Founded</label><br />
    <input asp-for="YearFounded" />
</div>

<div>
    <label asp-for="Country">Country</label><br />
    <input asp-for="Country" />
</div>