
@{
    ViewBag.Title = "Home";
}

<div class="banner">
    <img src="~/images/banner.jpg" alt="banner" >
    <div class="text-block">
        <h1>Welcome</h1>
        <p>Manage Clubs on the go</p>
    </div>
</div>